@font-face {
  font-family: "Open Sans Bold";
  src: url("../../fonts/OpenSansBold/opensans-bold.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/OpenSansBold/opensans-bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/OpenSansBold/opensans-bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../../fonts/OpenSansBold/opensans-bold.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("../../fonts/OpenSansBold/opensans-bold.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../fonts/OpenSansBold/opensans-bold.svg#svgFontName") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Open Sans ExtraBold";
  src: url("../../fonts/OpenSansExtraBold/opensans-extrabold.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/OpenSansExtraBold/opensans-extrabold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/OpenSansExtraBold/opensans-extrabold.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../fonts/OpenSansExtraBold/opensans-extrabold.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../../fonts/OpenSansExtraBold/opensans-extrabold.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../../fonts/OpenSansExtraBold/opensans-extrabold.svg#svgFontName")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Open Sans Light";
  src: url("../../fonts/OpenSansLight/opensans-light.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/OpenSansLight/opensans-light.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/OpenSansLight/opensans-light.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../../fonts/OpenSansLight/opensans-light.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("../../fonts/OpenSansLight/opensans-light.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../fonts/OpenSansLight/opensans-light.svg#svgFontName") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Open Sans SemiBold";
  src: url("../../fonts/OpenSansSemibold/opensans-semibold.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/OpenSansSemibold/opensans-semibold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/OpenSansSemibold/opensans-semibold.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../fonts/OpenSansSemibold/opensans-semibold.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../../fonts/OpenSansSemibold/opensans-semibold.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../../fonts/OpenSansSemibold/opensans-semibold.svg#svgFontName")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Museo Sans";
  src: url("../../fonts/MuseoSans/museo_sans_cyrl_300.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/MuseoSans/museo_sans_cyrl_300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/MuseoSans/museo_sans_cyrl_300.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../../fonts/MuseoSans/museo_sans_cyrl_300.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("../../fonts/MuseoSans/museo_sans_cyrl_300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../fonts/MuseoSans/museo_sans_cyrl_300.svg#svgFontName") format("svg"); /* Legacy iOS */
}
