//fonts
$font-family-base: "Open Sans Bold", sans-serif;
$font-family-base-light: "Open Sans Light", sans-serif;
$font-family-base-semibold: "Open Sans SemiBold", sans-serif;
$font-family-base-extrabold: "Open Sans ExtraBold", sans-serif;
$font-family-secondary: "Museo Sans", sans-serif;

//colors
$black: #3b3b3b;
$pink: #fc5095;
$pink-hover: #e04b87;
$orange: #fc8950;
$orange-hover: #eb8451;
$yellow: #fcc150;
$yellow-hover: #ecb44c;
$skyblue: #1da7c0;
$skyblue-hover: #1da2b9;
$whitesmoke: #f6f5f5;
$button-choice-border: #d3d3d3;
